* {
margin: 0;
padding: 0;
}

body {
    background-color: rosybrown;
}

header {
    display: inline;
}

header ul{
    float: right;
    display: inline;
    margin-top: 50px;
}

div.logo img {
    width: 125px;
    padding: 1%;
}

div.logo {
    display: inline;
}

nav {
    width: 50%;
    padding: 1%;
    display: inline;
}

#ul {
    list-style-type: none; /* Remove bullets */
}

ul li {
    display:inline;
    padding: 14px 16px;
  }